<h1>Ahoy!</h1>
<form action='/results'>
  <div class="form-group">
    <label for="title">Title to evaluate:</label>
    <input id="title" name="title" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
